article {
    width: 30vw;
    height: auto;
    margin: auto;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 8px;
    /* overflow: scroll; */
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

span {
    /* display: inline-block; */
    padding: 15px 10px;
} 

